[pmproxy]
pcp.enabled = true
http.enabled = true
redis.enabled = false
secure.enabled = true
[redis]
enabled = true
servers = redis:6379
username = default
password = foobared
[discover]
enabled = true
exclude.metrics = proc.*,acct.*
exclude.indoms = 3.9,3.40,79.7
[pmsearch]
enabled = true
count = 10
[pmseries]
enabled = true
cursor.count = 256
stream.expire = 86400
stream.maxlen = 8640
