apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: "{{ j2vm_name }}"
  namespace: "{{ target_ns }}"
spec:
  dataVolumeTemplates:
  - metadata:
      creationTimestamp: null
      name: "{{ j2vm_name }}-volume"
      namespace: "{{ target_ns }}"
    spec:
      sourceRef:
        kind: DataSource
        name: rhel9
        namespace: openshift-virtualization-os-images
      storage:
        resources: {}
  instancetype:
    kind: virtualmachineclusterinstancetype
    name: "{{ itype }}"
  preference:
    kind: virtualmachineclusterpreference
    name: rhel.9
  running: true
  template:
    metadata:
      creationTimestamp: null
    spec:
      accessCredentials:
      - sshPublicKey:
          propagationMethod:
            qemuGuestAgent:
              users:
              - cloud-user
          source:
            secret:
              secretName: labkey
      architecture: amd64
      domain:
        devices:
          interfaces:
          - name: default
            masquerade: {}
{%        if add_net %}
          - bridge: {}
            name: bridge-network
{%        endif %}
      networks:
      - name: default
        pod: {}
{%      if add_net %}
      - multus:
          networkName: default/vm-private-net
        name: bridge-network
{%      endif %}
      volumes:
      - dataVolume:
          name: "{{ j2vm_name }}-volume"
        name: rootdisk
      - cloudInitNoCloud:
          userData: |-
            #cloud-config
            user: cloud-user
            password: "{{ cloud_pass }}"
            chpasswd:
              expire: false
            runcmd:
            - [ setsebool, -P, virt_qemu_ga_manage_ssh, on ]
        name: cloudinitdisk
